venv/share/jupyter/kernels/python3/logo-64x64.png filter=lfs diff=lfs merge=lfs -text
target/doc/static.files/favicon-32x32-422f7d1d52889060.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/home_large.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/subplots.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/zoom_to_rect.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/matplotlib.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/qt4_editor_options.png filter=lfs diff=lfs merge=lfs -text
venv/share/jupyter/kernels/python3/logo-32x32.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/filesave.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/move_large.png filter=lfs diff=lfs merge=lfs -text
spec/book/html/m1cycl_32768.png filter=lfs diff=lfs merge=lfs -text
spec/book/html/veri-times.png filter=lfs diff=lfs merge=lfs -text
spec/src/m1cycl_32768.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/back_large.png filter=lfs diff=lfs merge=lfs -text
spec/book/verification-plot.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/ipykernel/resources/logo-64x64.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/back.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/sample_data/Minduka_Present_Blue_Pack.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/sample_data/logo2.png filter=lfs diff=lfs merge=lfs -text
spec/src/veri-times.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/ipykernel/resources/logo-32x32.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/matplotlib_large.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/subplots_large.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/filesave_large.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/move.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/zoom_to_rect_large.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/IPython/core/tests/2x2.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/help.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/qt4_editor_options_large.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/help_large.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/home.png filter=lfs diff=lfs merge=lfs -text
spec/book/html/favicon.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/forward.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/forward_large.png filter=lfs diff=lfs merge=lfs -text
venv/lib/python3.11/site-packages/matplotlib/mpl-data/images/hand.png filter=lfs diff=lfs merge=lfs -text
